/* .contact form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 0 10px;
}

.contact form input,
.contact form textarea {
    height: 60px;
    color: var(--light);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--grey);
    padding: 0 25px;
    margin-bottom: 10px;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
	color: var(--grey);
}

.contact form input:focus,
.contact form textarea:focus {
	outline: none;
}

.contact form textarea {
    resize: none; 
    min-height: 150px;
    line-height: 1.75;
    padding: 25px;
}

.contact form button {
    height: 60px;
	background-color: transparent;
	border: 3px solid var(--accent);
	border-radius: 20px;
	color: var(--accent);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
    margin-top: 20px;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s,
		font-size 0.2s, font-weight 0.2s;
}

.contact form button:hover {
	color: var(--bg);
	background-color: var(--accent);
	font-size: 20px;
	font-weight: 800;
} 


@media all and (min-width: 2560px) {
    .contact form {
        width: 100%;
    }
}

@media all and (max-width: 1400px) {
    .contact form {
        width: 70vw;
    }
}

@media all and (max-width: 1000px) {
    .contact form {
        width: 100%;
    }
} */


.contact {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 20px 0;
}

.contact-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 580px;
    margin: 10px 0 0;
}

.contact-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 280px;
    padding: 30px;
    color: var(--dark);
    cursor: pointer;
    transition: width 0.3s;
}

.contact-type svg path {
    fill: var(--accent);
}

.contact-type button {
	width: 180px;
	height: 60px;
    margin-top: 40px;
	background-color: transparent;
	border: 3px solid var(--accent);
	border-radius: 20px;
	color: var(--accent);
	font-family: "Work Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;
	transition: width 0.2s, color 0.2s, background-color 0.2s,
		font-size 0.2s, font-weight 0.2s;
}

.contact-type button:hover {
	width: 200px;
	color: var(--bg);
	background-color: var(--accent);
	font-size: 20px;
	font-weight: 800;
}

@media all and (max-width: 800px) {
    .contact-area {
        width: 460px;
    }
    .contact-type {
        width: 220px;
    }
}

@media all and (max-width: 560px) {
    .contact-area {
        flex-direction: column;
        margin: 0 0 40px;
    }
}