footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: var(--greyer);
    font-size: 17px;
    line-height: 1;
    text-align: center;
}