header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	min-height: 100vh;
	text-align: center;
}

header h1 {
	color: var(--accent);
	font-family: var(--bigtext);
	/* font-size: 80px;
	font-weight: 800; */
	font-size: 100px;
	line-height: 1.25;
	/* letter-spacing: -1.5px; */
	/* margin: 10px 0; */
	margin-bottom: -10px;
}

header h2 {
	color: var(--light);
	font-family: var(--bigtext);
	font-size: 60px;
	line-height: 60px;
	/* font-family: "Dela Gothic One", sans-serif;
	font-size: 36px;
	font-weight: normal; */
	margin: 0 0 30px;
}

header h3 {
	color: var(--light);
	font-family: var(--codetext);
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

header p {
	width: 480px;
	text-align: end;
	margin: 0 0 40px;
}

header button {
	width: 180px;
	height: 60px;
	background-color: transparent;
	border: 3px solid var(--accent);
	border-radius: 10px;
	color: var(--accent);
	background-color: var(--bg);
	font-family: var(--smalltext);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;
	transition: width 0.2s, color 0.2s, background-color 0.2s,
		font-size 0.2s, font-weight 0.2s;
}

header button:hover {
	width: 200px;
	color: var(--bg);
	background-color: var(--accent);
	font-size: 20px;
	font-weight: 800;
}

.header-text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.art {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
}

.art-full {
	position: relative;
	width: 100%;
	height: 100vh;
}

.art-full img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media all and (max-width: 1200px) {
	header h1 {
		font-size: 88px;
	}
    /* header h2 {
		text-align: right;
	} */
}
@media all and (max-width: 1000px) {
	header h1 {
		font-size: 72px;
	}
	header h2 {
		font-size: 56px;
		width: 350px;
	}
	header p {
		width: 400px;
	}
    .header-text {
		text-align: right;
	}
}

@media all and (max-width: 800px) {
	header {
		justify-content: center;
		align-items: center;
	}
	header h1, header h2, header p {
		text-align: center;
	}
	header h1 {
		font-size: 64px;
	}
	header h2 {
		font-size: 48px;
		line-height: 48px;
		width: 100%;
	}
	header p {
		width: 100%;
	}
	.header-text {
		align-items: center;
		width: 100%;
		padding: 0 40px;
	}
	.art {
		display: none;
	}
}