/* nav {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 70px;
    padding: 0 30px;
    background: rgba(24, 23, 28, 0.8);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
}

nav ul a {
    color: var(--grey);
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s;
}

nav ul a:hover {
    color: var(--accent);
} */

/* nav {
    backdrop-filter: blur(10px);
} */

.navbar {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 70px;
    padding: 1.5rem;
    /* background: rgba(24, 23, 28, 0.9); */
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(10px); */
    background: var(--bg);
}

.navbar ul li {
    z-index: 20000;
}
.navbar ul li a, 
.navbar ul li a:visited, 
.navbar ul li a:active {
    text-decoration: none;
    color: var(--grey);
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: var(--accent);
}

.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 15px;
    font-weight: 600;
}

.nav-item {
    color: var(--grey);
    text-decoration: none;
    padding: 1.5rem;
    
}

.hamburger {
    z-index: 10001;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-height: 100vh;
        text-align: center;
        background: var(--dark);
        transition: 0.5s;
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1rem;
        font-size: 17px;
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .nav-menu {
        width: 100%;
    }
}