.portfolio {
    padding-top: 100px;
    margin: 80px 0;
}

.projects {
    /* padding: 0 10px; */
    margin-bottom: 40px;
}

/* ========== PROJECT BIG ========== */

.project-big {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    background-color: var(--dark);
    border-radius: 10px;
    margin: 10px 0 80px;
}

.project-big-image {
    position: relative;
    width: 50%;
    height: 100%;
    background: var(--accent);
    /* opacity: 0.8; */
    border-radius: 10px;
}

.project-big-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    /* opacity: 0.5;
    filter: grayscale(); */
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.25s, filter 0.25s;
}

.project-big-image img:hover {
    opacity: 1;
	filter: none;
}

.project-big-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding: 60px;
}

.project-big-text h3 {
    color: var(--light);
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}

.project-big-text span {
    font-family: monospace;
    font-size: 15px;
}

.project-big-links a {
    margin-right: 25px;
}

.project-big-links svg {
    fill: var(--grey);
	filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
	will-change: transform;
	transition: transform 0.4s, fill 0.4s;
}

.project-big-links svg:hover {
    fill: var(--accent);
	transition: transform 0.2s, fill 0.2s;
	/* transform: translateY(-5px); */
}

/* ========== PROJECT SMALL ========== */

.projects-2 {
    display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(auto, auto);
    gap: 20px;
    width: 100%;
}
.project-small {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    width: 100%;
    min-height: 300px;
    background-color: var(--dark);
    border: 3px solid var(--dark);
    border-radius: 10px;
    transition: border 0.3s;
    /* margin: 10px; */
}

.project-small:hover {
    border: 3px solid var(--accent);
}

.project-small-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 35px;
}

.project-small-text-box {
    margin-bottom: 20px;
}

.project-small-text h3 {
    color: var(--light);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 15px;
}

.project-small-text p {
    margin-bottom: 10px;
}

.project-small-text span {
    font-family: var(--codetext);
    font-size: 14px;
}

.project-small-links {
    margin: 0 0 -10px;
}

.project-small-links a {
    margin-right: 25px;
}

.project-small-links svg {
    fill: var(--grey);
	filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
	will-change: transform;
	transition: transform 0.4s, fill 0.4s;
}

.project-small-links svg:hover {
    fill: var(--accent);
	transition: transform 0.2s, fill 0.2s;
	/* transform: translateY(-5px); */
}



@media all and (max-width: 1200px) {
    .project-big, .projects-2 {
        width: 100%;
    }
    .project-big-image {
        width: 45%;
    }
	.project-big-text {
        width: 55%;
        padding: 40px;
    }
    .project-big-text h3 {
        font-size: 28px;
    }
    .project-small-text {
        padding: 40px;
    }
}

@media all and (max-width: 900px) {
    .projects-2 {
        grid-template-columns: repeat(2, auto);
    }
}

@media all and (max-width: 600px) {
    .projects-2 {
        grid-template-columns: repeat(1, auto);
    }
}