:root {
    --bigtext: "Nunito", "NTR", "Poppins", "Dela Gothic One", sans-serif;
    --smalltext: "Nunito", "NTR", "Work Sans", sans-serif;
    --codetext: "IBM Plex Mono", monospace;
    --bigtext-size: 36px;
    --smalltext-size: 17px;
    --codetext-size: 15px;
    --bg: #0e0e11;
    --black: #000000;
    --white: #ffffff;
    --grey: #a8a5b6;
    --greyer: #797783;
    --dark: #1e1d22;
    --light: #f1f1f1;
    --accent: #ff6164;
}

/* ========== SCROLLBAR ========== */
::-webkit-scrollbar {
	width: 15px;
	margin-left: 5px;
}
::-webkit-scrollbar-track {
	background: var(--bg);
}
::-webkit-scrollbar-thumb {
	background: var(--dark);
    /* border: 8px solid var(--bg); */
    /* border-radius: 25px; */
}
::-webkit-scrollbar-thumb:hover {
	background: var(--grey);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--smalltext);
    background: var(--bg);
    color: var(--light);
    z-index: 1;
}

.app {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app-container {
    width: 1100px;
}

section {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* min-height: 100vh; */
}

h2 {
	/* font-family: "Dela Gothic One";
    font-weight: normal; */
    font-family: var(--bigtext);
    font-size: 44px;
    font-weight: 700;
    letter-spacing: -1px;
	margin: 10px 0 40px;
}

h4 {
    color: var(--accent);
    font-family: var(--codetext);
    font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
    /* margin-bottom: 10px; */
}

h4::before {
    content: "< ";
}

h4::after {
    content: " >";
}

p {
    color: var(--grey);
    font-size: var(--smalltext-size);
    line-height: 1.75rem;
    margin-bottom: 18px;
}

p span {
    color: var(--accent);
}

@media all and (min-width: 1920px) {
    .app p,
    .app li,
    .app p span {
        /* font-size: 18px; */
        line-height: 2;
    }
    .app-container {
        width: 1400px;
    }
    .app h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 20px;
    }
    

}

@media all and (max-width: 1400px) {
    .app {
        margin: 0 120px;
    }
    .app-container {
        width: 100%;
    }
}

@media all and (max-width: 1200px) {
    .app {
        margin: 0 60px;
    }
}

@media all and (max-width: 800px) {
    .app {
        margin: 0 40px;
    }
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 16px;
    }
}

@media all and (max-width: 600px) {
    .app {
        margin: 0 20px;
    }
}