:root {
    --bg: #18171C;
    --black: #000000;
    --white: #ffffff;
    --grey: #a8a5b6;
    --dark: #25232b;
    --light: #f1f1f1;
    /* --accent: #00FFD3; */
    /* --accent: #f94144; */
    --accent: #ff6164;
}

/* ========== SCROLLBAR ========== */
::-webkit-scrollbar {
	width: 15px;
	margin-left: 5px;
}
::-webkit-scrollbar-track {
	background: var(--bg);
}
::-webkit-scrollbar-thumb {
	background: var(--dark);
    /* border: 8px solid var(--bg); */
    /* border-radius: 25px; */
}
::-webkit-scrollbar-thumb:hover {
	background: var(--grey);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--light);
    z-index: 1;
}

.app {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    /* margin: 20px 60px; */
}

.app-container {
    width: 1200px;
}

h2 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
}

section {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

section h2 {
	font-family: "Dela Gothic One";
    font-weight: normal;
	margin-bottom: 30px;
	margin-bottom: 40px;
}

section h4 {
    color: var(--accent);
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
    margin-bottom: 10px;
}

section p {
    color: var(--grey);
    line-height: 1.75rem;
    margin-bottom: 18px;
}

section p span {
    color: var(--accent);
}

@media all and (min-width: 1920px) {
    .app p,
    .app li,
    .app p span {
        font-size: 18px;
        line-height: 2;
    }
    .app-container {
        width: 1400px;
    }
    .app h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 20px;
    }
    

}

@media all and (max-width: 1400px) {
    .app {
        margin: 0 100px;
    }
    .app-container {
        width: 100%;
    }
}

@media all and (max-width: 1200px) {
    .app {
        margin: 0 40px;
    }
}

@media all and (max-width: 800px) {
    h2 {
        font-size: 30px;
    }
    h4 {
        font-size: 16px;
    }
}

@media all and (max-width: 600px) {
    .app {
        margin: 0 20px;
    }
}